.add-game-box {
    display: flex;
    margin: 10px;
    padding: 20px;
}

.input-text {
    border: 1px solid #ebebeb;
    border-right: 0;
    flex: 1 1;
    padding: 5px;
    outline: none;
}

.input-text:focus {
    border: 1px solid #f07241;
}

.button {
    border: 1px solid #ebebeb;
    background-color: #ebebeb;
    color: #ffffff;
    flex: 0 0;
    outline: none;
    padding: 5px;
    transition: all 0.3s ease;
}

.button:hover {
    background-color: #f07241;
    color: #ffffff;
}
